#home
  #registration
    +background(image-url("registration_background.jpg"), $blue)
    background-repeat: no-repeat
    background-size:   100%

  #testimonials
    .carousel .item
      background: $green

  #contact
    background: $blue
    color:      $white

    a
      color: $white
