.logo
  background-repeat:   no-repeat
  background-position: center
  background-size:     100%

  &.robin-health
    width:            206px
    height:           72px
    background-image: image-url("logos/robin_health.png")

  &.ergo-direct
    width:            157px
    height:           49px
    background-image: image-url("logos/ergo_direct.png")

  &.tuev
    width:            52px
    height:           48px
    background-image: image-url("logos/tuev.png")

  &.google-developers-launchpad
    width:            190px
    height:           90px
    background-image: image-url("logos/google_launchpad.png")

  &.axel-springer-accelerator
    width:            190px
    height:           90px
    background-image: image-url("logos/axel_springer.png")

  &.deutsche-startups
    width:            190px
    height:           90px
    background-image: image-url("logos/deutsche_startups.png")

  &.gruenderszene
    width:            190px
    height:           90px
    background-image: image-url("logos/gruenderszene.png")
